extends ./layout/index

block contenido
    h1(class="mt-5 text-center")= pagina
        main.container.mt-5 
            .row.proximos-viajes 
                //- como es un arreglo viajes, lo convertimos a string para poder usarlo
                //- p= JSON.stringify(resultado) 
                //- ahora bien como es un arreglo y vamos a querer iterarlo, usaremos
                each viajes in resultado 
                    .col-md-6.col-lg-4.mb-4
                        .card
                            img.card-img-top(src=`img/destinos_${viajes.imagen}.jpg`)
                            .card-body
                                h2= viajes.titulo
                                p 
                                    svg.icon.icon-tabler.icon-tabler-calendar-stats(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                        path(d='M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4')
                                        path(d='M18 14v4h4')
                                        path(d='M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0')
                                        path(d='M15 3v4')
                                        path(d='M7 3v4')
                                        path(d='M3 11h16')
                                    | #{viajes.fecha_ida} - #{viajes.fecha_vuelta}
                                
                                p 
                                    svg.icon.icon-tabler.icon-tabler-user-check(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
                                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                                        path(d='M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0')
                                        path(d='M6 21v-2a4 4 0 0 1 4 -4h4')
                                        path(d='M15 19l2 2l4 -4')

                                    | #{viajes.disponibles} - Disponibles

                                p= viajes.descripcion.substr(0, 100) + '...'

                                a(href=`viajes/${viajes.slug}`, class="btn btn-success btn-block") Mas Informacion